---
language: python
python: "2.7"
before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq python-apt python-pycurl
install:
  - pip install ansible
  - echo -e 'localhost  ansible_connection=local' > provisioning/test/inventory
  - echo -e '[defaults]\nroles_path = ../\nhostfile = ./provisioning/test/inventory' > ansible.cfg
script:
  # Check the role/playbook's syntax.
  - ansible-playbook --syntax-check provisioning/test/test.yml

  # Run the role/playbook with ansible-playbook.
  # - ansible-playbook --sudo -v --diff tests/role.yml

  # # Run the role/playbook again, checking to make sure it's idempotent.
  # - >
  #   ansible-playbook --sudo tests/role.yml
  #   | grep -q 'changed=0.*failed=0'
  #   && (echo 'Idempotence test: pass' && exit 0)
  #   || (echo 'Idempotence test: fail' && exit 1)

  # # Request a page via the web server, to make sure it's running and responds.
  # - "curl http://localhost/"
